@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

html, body {
    background-color: rgb(41, 41, 41);
    height: 100%;
    width: 100%;
    background-attachment: fixed;
}

div#imagem {
    display: block;
    background-color: rgb(41, 41, 41);
    background-image: url(../imagens/icone-removebg-preview.png);
    height: 100px;
    width: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    margin: 40px auto;
}

main {
    background-color: white;
    width: 100vw;
 
    height: 500px;
    margin: 0 auto;
    position: relative;
}

section {
    background-color: white;
    height: 450px;
    width: 100%;
    padding: 20px;
    position: relative;
    
    
}

section h1 {
    
    font-size: 1.5em;
    margin: 20px 0px;
}

form p {
    text-align: center;
    margin: 40px 0px;
    
}
hr{
   position: absolute;

   right: 0px;
   left: 0px;
   
    
}

input[type=email] {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    
}

form div {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: 180px;
}

input[type=submit], a#voltar {
    display: inline-block;
    height: 40px;
    width: 20%;
    margin: 5px;
    cursor: pointer;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 0.8em;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    flex: auto; 
}

input[type=submit]:hover, a#voltar:hover {
    background-color: rgb(41, 41, 41);
    color: #f5002f;
}
a#voltar{
    text-decoration: none;
    height: 38px;
    font-size: 0.8em;
}

i.fa, i.material-icons {
    height: 40px;
    width: 28px;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
}

footer {
    background-color: rgb(41, 41, 41);
    height: 250px;
    padding-top: 10px;
   
}

footer p a {
    text-decoration: none;
    color: white;
}

footer p a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 576px) {
    body {
        background-color: rgb(41, 41, 41);
    }

    header {
        background-image: url(imagens/imagens/png-removebg-preview.png);
        background-color: rgb(41, 41, 41);
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 350px;
        width: 100%;
        height: 150px;
    }

    div#imagem {
        display: none;
    }

    section {
        height: 320px;
        width: 600px;
        background-color: rgb(245, 243, 243);
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.247);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main {
        height: 500px;
        width: 100vw;
        
    }

    footer {
        height: 150px;
    }
}
