@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    
   
}
::-webkit-scrollbar{
    height: 0px;
    width: 0px;
    
}
html{
    background-color:rgb(41, 41, 41);
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    overflow: hidden;
}
body{
    background-color:white;
    height: 100vh;
    width: 100vw;
}
div#imagem{
    display: block;
    background-color: rgb(41, 41, 41);
    background-image: url(../imagens/icone-removebg-preview.png);
    height: 100px;
    width: 100px;
    background-size: 70px ;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
     margin: auto;
     margin-bottom: 40px;
     
     
    
     
     
    
}
main{
    
    background-color: white;
    width: 100vw;
    height: 600px;

    position: relative;
   
}
section{
    
   
    height: 450px;
    width: 100vw;
    background-color:white;
    overflow: hidden;
    

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
    
}
section h1{
    margin: 20px;
}
form p{
    text-align: center;
    margin-top: 20px;
}
form input{
    margin: 20px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid black;
    width: 90%;
    padding-left:10px;
}

input[type=submit]{
    height: 40px;
    width: 30%;
    margin: 35px 2px ;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    padding-left: 0px;

    position: relative;
    top:2px;
    
}
 a#voltar{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 0.8em;
    border-radius: 5px;
    height: 28px;
    width: 29.6%;
    padding-top: 10px;
    margin-top: -2px;
    
    font-weight: bold;
    
    
    cursor: pointer;
    margin-left: 80px;
    border: 1px solid black;
}
 a#voltar:hover{
    background-color:rgb(41, 41, 41) ;
    color: #f5002f;
    
}

input[type=submit]:hover{
    background-color:rgb(41, 41, 41) ;
    color: #f5002f;
}


i.fa{
    height: 40px;
    width: 25px;
    margin-left: 5px;
    
    
 }
 i.material-icons{
    text-align: center;
    height: 40px;
    width: 28px;
    font-size: 24px;
 }
 footer{
    background-color: rgb(41, 41, 41);;
    height: 250px;
    padding-top: 10px;

}
footer p a{
    text-decoration: none;
    color: white;
    
}
i.fa{
    height: 40px;
    width: 25px;
    margin-left: 5px;
    
    
 }
 i.material-icons{
    text-align: center;
    height: 40px;
    width: 28px;
    font-size: 24px;
 }




 @media screen and (min-width:576px) {
    body{
        background-color: rgb(41, 41, 41);
    }
    header{
        background-image: url(imagens/imagens/png-removebg-preview.png);
        background-color:rgb(41, 41, 41);
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 350px;
        border-radius: 0px;
        width: 100vw;
        height:150px;
        
    }
    div#imagem{
        display: none;
    }
    section{
        
            height: 320px;
            width: 500px;
            background-color: rgb(245, 243, 243);
            border: 1px solid black;
            border-radius: 5px;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.247);
            
        
            position: absolute;
            top: 50%;
            left: 50%;
        
            transform: translate(-50%,-50%);
            
        
    }
    main{
        height: 700px;
    }
    input#att{
        margin-left: 180px;
    }
    footer{
        height: 150px;
    }

 }