@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    ::-webkit-scrollbar{
        height: 0px;
        width: 0px;
        font-size: 1em;
    }

}
html{
    background-color:rgb(99, 98, 98);
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
}
body{
    background-color: rgb(99, 98, 98);;
    height: 100vh;
    width: 100vw;
}
header{
    background-image: url(../imagens/imagens/png-removebg-preview.png);
    background-color:rgb(99, 98, 98);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 350px;
    
    width: 100vw;
    height: 150px;
}
main{
    
    background-color: white;
    width: 100vw;
    height: 600px;

    position: relative;
   
}
section{
    height: 600px;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.514);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.247);
    

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
    
}
input.nome{
    width: 42%;
    height: 40px;
    border-radius: 5px;
    margin-top: 40px;
    padding-left: 10px;
    
}
section p#p1{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;

}
section p#p2{
    font-size: 1.3em;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}
form{
    text-align: center;
}
form input{
    margin: 5px;
    border: 1px solid black;
    height: 40px;
    width: 90%;
    border-radius: 5px;
    padding-left:10px ;
    
    
    
}


input[type=submit]{
    
    margin-bottom: 40px;
    background-color: rgb(156, 155, 155);
    color: white;
    font-size: 1.3em;
    cursor: pointer;
    
}
input[type=submit]:hover{
    background-color: black;
    color: #f5002f;

}
form p a{
    display: inline-block;
    text-decoration: none;
    color: #f5002f;
}
form p a:hover{
    text-decoration: underline;
    color: black;
}
::-webkit-input-placeholder{
    color: black;
    
}
footer{
    background-color: rgb(99, 98, 98);
    height: 150px;
    padding-top: 10px;

}
footer p a{
    text-decoration: none;
    color: black;
    
}
i.fa{
    height: 40px;
    width: 25px;
    margin-left: 5px;
    
    
 }
 i.material-icons{
    text-align: center;
    height: 40px;
    width: 28px;
    font-size: 24px;
 }
    

 


    