@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {
    html{
        background-image: linear-gradient(to bottom,black,#ee34437e);
        position: relative;
        
    }
    section{
        height: 550px;
        width: 350px;
        position: absolute;
        top: 50%;
        left: 50%;
    
        transform: translate(-50%, 0%);

    }
    header{
        width: 100vw;
        height: 100vh;
        
        
        background-image: url(../imagens/png-removebg-preview.png);
        background-position: left center;
        background-size: 300px;
        background-repeat: no-repeat;
    }
    main{
        height: 800px;
        
    }
    div#login h1{
        text-align: left;
        font-size: 2em;
        margin-top: 10px;

        padding-bottom: 30px;
        color: black;
    }
    section div#imagem{
        display: none;
    }
    
    section div#login{
        
        width: 100%;
        
    
    }
    p#check{
        margin-top: 15px;
        
     }
     
    
}
@media screen and (min-width:992px){
    html{
        background-image: linear-gradient(to bottom,black,#ee34437e);
        position: relative;
    }
    section{
        height: 580px;
        width: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
    
        transform: translate(-50%,-50%);
        
        
    }
    header{
        width: 100vw;
        height: 150px;
        
        
        background-image: url(../imagens/png-removebg-preview.png);
        background-position: left center;
        background-size: 500px;
        background-repeat: no-repeat;
    }
    div#login h1{
        text-align: left;
        font-size: 2em;
        
        

        padding-bottom: 30px;
        color: black;
    }
    section div#imagem{
        display: none;
    }
    
    section div#login{
        
        width: 100%;
        
    
    }
    p#check{
        margin-top: 15px;
        
    }






}