@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {

    section{
        height: 350px;
        width: 80vw;
    }
    
    section div#imagem{
       background-image: url(../imagens/Logo.jpg);
       background-size: 450px 400px;
       background-position: center center;
       border-radius: 2px;
       margin: 0px;
       
       
       
       
        float: left;
        width: 40%;
        height: 100%;
    }
    section div#login{
        float: right;
        width: 60%;
    }
}

@media screen and (min-width:992px){

    section{
        height: 400px;
        width: 950px;
    }
    
    section div#imagem{
       background-image: url(../imagens/Logo.jpg);
       background-position: center center;
       background-size: cover;
       background-repeat: no-repeat;
       margin: 0px;
       border-radius: 0px;
       
        float: right;
        width: 57%;
        height: 100%;
    }
    section div#login{
        float: left;
        width: 43%;
        
    }
    div#login h1{
        font-size: 2em;
    }
    div#login p{
        font-size: 1em;
    }
}